<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.bank.intermediary.mapper.BkComAssignMapper">

    <sql id="selectBase">
        select a.id,
               agent.manage_com,
               (select short_name from ldcom where ldcom.comcode = agent.manage_com) as manage_com_name,
               a.agent_code,
               agent.name                                                               as agent_code_name,
               a.agent_com,
               com.name                                                                 as agent_com_name,
               com.bank_code,
               a.start_date,
               a.end_date
        from la_com_to_agent        a
                 left join la_agent agent on a.agent_code = agent.agent_code
                 left join la_com   com on a.agent_com = com.agent_com
    </sql>

    <select id="selectPageList"
            resultType="com.sinosoft.bank.intermediary.domain.vo.BkComAssignVo">
        <include refid="selectBase"/>
        ${ew.getCustomSqlSegment}
    </select>

</mapper>
