<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinosoft.bank.intermediary.mapper.BkComInputMapper">

    <select id="maxAgentCom" parameterType="String" resultType="String">
        select max(AgentCom)
        from LACom
        where BankType = #{bankType}
          and branchtype = '3'
          and agentcom like concat(#{agentCom}, '%')
          and agentcom != #{agentCom}
        union
        select max(AgentCom)
        from LAComb
        where BankType = #{bankType}
          and branchtype = '3'
          and agentcom like concat(#{agentCom}, '%')
          and agentcom != #{agentCom}
        order by 1 desc LIMIT 1
    </select>

    <select id="selectVoPage" resultType="com.sinosoft.bank.intermediary.domain.vo.BkComInputVo">
        SELECT agentcom,
               managecom,
               (select shortname from ldcom ld where ld.comcode = a.managecom) managecomname,
               upagentcom,
               (select com.name from lacom com where com.agentcom = a.upagentcom) upagentcomname,
               NAME,
               bankcode,
               bankaccno,
               sellflag,
               banktype,
               busilicensecode,
               licenseno,
               appagentcom,
               state,
               noti,
               businesscode,
               licensestartdate,
               licenseenddate,
               branchtype,
               branchtype2,
               protocalno,
               founddate,
               enddate,
               busstartdate,
               busenddate,
               orgstartdate,
               orgenddate,
               organ
        FROM lacom a ${ew.getCustomSqlSegment}

    </select>
    <select id="selectVoById" parameterType="String"
            resultType="com.sinosoft.bank.intermediary.domain.vo.BkComInputVo">
        SELECT a.agentcom,bankcode,a.ManageCom,a.AreaType,a.ChannelType,a.UpAgentCom,a.Name,a.Address,a.Phone,
               a.LinkMan,a.BankType,a.SellFlag,a.CalFlag,a.state,a.BusiLicenseCode,FoundDate,EndDate,LicenseNo,Corporation,zipcode,
               EMail,WebAddress,GrpNature,Noti,BankAccNo,BusStartDate,BusEndDate,LicenseStartDate,LicenseEndDate,Organ,
               OrgStartDate,OrgEndDate,Protocalno,acType,curdate() - EndDate days
        FROM lacom a
        where a.agentcom = #{agentCom}
    </select>

</mapper>
