<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.bank.performance.mapper.BkLacommisionybadjustMapper">

    <select id="selectPageShowList" resultType="com.sinosoft.bank.performance.domain.vo.LacommisionybadjustShowVo">
        SELECT a.id,
        a.managecom,
        c.shortname AS managecomname,
        a.contno,
        a.riskcode,
        r.riskname AS riskcodename,
        a.paycount,
        a.agentcode,
        agent.name AS agentname,
        a.oldagentcode,
        oldagent.name AS oldagentname,
        a.salecode,
        sale.employeename AS salename,
        a.oldsalecode,
        oldsale.employeename AS oldsalename,
        a.fycrate,
        a.oldfycrate,
        a.adjustdate,
        a.remark,
        a.flag
        FROM lacommisionybadjust a
        LEFT JOIN ldcom c ON a.managecom = c.comcode
        LEFT JOIN lmriskapp r ON a.riskcode = r.riskcode
        LEFT JOIN laagent agent ON a.agentcode = agent.agentcode
        LEFT JOIN laagent oldagent ON a.oldagentcode = oldagent.agentcode
        LEFT JOIN lasaelagent sale ON a.salecode = sale.employeecode
        LEFT JOIN lasaelagent oldsale ON a.oldsalecode = oldsale.employeecode
        ${ew.customSqlSegment}
    </select>

    <select id="selectFormById" resultType="com.sinosoft.bank.performance.domain.vo.LacommisionybadjustFormVo">
        SELECT a.id,
        a.contno,
        a.riskcode,
        a.managecom,
        a.paycount,
        a.agentcode,
        a.oldagentcode,
        a.salecode,
        a.oldsalecode,
        a.fycrate,
        a.oldfycrate,
        a.adjustdate,
        a.remark,
        a.flag
        FROM lacommisionybadjust a
        WHERE a.id = #{id}
    </select>
</mapper>
