<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.bank.performance.mapper.BkLacommisionybMapper">
    <update id="updatePerformanceTeamInfo">
        update lacommisionyb
        set managecom = #{agentTeamInfo.managecom},
        agentgroup = #{agentTeamInfo.agentgroup},
        branchcode = #{agentTeamInfo.branchcode},
        branchseries = #{agentTeamInfo.branchseries},
        branchattr = #{agentTeamInfo.branchattr},
        distict = #{agentTeamInfo.distict},
        department = #{agentTeamInfo.department},
        modifyoperator = #{agentTeamInfo.modifyoperator},
        modifydate = #{agentTeamInfo.modifydate},
        modifytime = #{agentTeamInfo.modifytime}
        WHERE agentcode = #{agentCode}
        AND signdate >= #{signDate}
        <if test="wageNo != null and wageNo != ''">
            AND (wageno >= #{wageNo} OR wageno IS NULL)
        </if>
    </update>

    <select id="getAgentPerformanceCount" resultType="java.lang.Integer">
        select count(*)
        from lacommisionyb
        where agentcode = #{agentCode}
        and signdate >= #{signDate}
        <if test="wageNo != null and wageNo != ''">
            AND (wageno >= #{wageNo} OR wageno IS NULL)
        </if>
    </select>
</mapper>
