<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.system.mapper.SysHolidayServiceMapper">

    <select id="findByDateBetween" resultType="com.sinosoft.system.domain.SysHolidayInfo">
        SELECT
            holiday_id,
            date,
            holiday_name,
            is_holiday,
            wage,
            rest,
            remark
        FROM
            sys_holiday_info
        WHERE
            date BETWEEN #{start} AND #{end}
    </select>

</mapper>
