<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.bank.commission.mapper.BkRewardPunishMapper">

    <select id="queryPageList" resultType="com.sinosoft.bank.commission.domain.vo.BkRewardPunishVo">
        select a.id,
               a.ManageCom,
               (select ld.shortname from ldcom ld where ld.comcode = a.managecom) as managecomname,
               a.AgentCode,
               agent.name,
               a.agentgroup,
               branch.branchattr,
               branch.name                                                        as branchname,
               a.indexcalno,
               a.money,
               a.doneflag,
               (select dict_label
                from sys_dict_data ld
                where dict_type = 'bank_done_flag' and dict_value = a.doneflag)   as doneflagname,
               a.noti
        from larewardpunish a
                 left join laagent agent on agent.agentcode = a.agentcode
                 left join labranchgroup branch on branch.agentgroup = a.agentgroup
            ${ew.getCustomSqlSegment}
    </select>

</mapper>
