<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.bank.commission.mapper.BkWelfareTaxMapper">

    <select id="queryPageList" resultType="com.sinosoft.bank.commission.domain.vo.BkWelfareTaxVo">
        select a.id,
               a.managecom,
               (select shortname from ldcom com where com.comcode = a.managecom) as managecomname,
               c.branchattr,
               b.name                                                            as branchname,
               a.wageno,
               b.agentcode,
               b.name,
               oldinsuranceper,
               doctorinsuranceper,
               workinsuranceper,
               hurtinsuranceper,
               birthinsuranceper,
               houseinsuranceper,
               sumwelfareper,
               oldinsurancecom,
               doctorinsurancecom,
               workinsurancecom,
               hurtinsurancecom,
               birthinsurancecom,
               houseinsurancecom,
               sumwelfarecom,
               accchildrenedu,
               acccontinueedu,
               acchousingloaninterest,
               acchousingrent,
               accsupportold,
               sumaccspecialdeduction
        from lawelfaretax a
                 left join laagent b on a.agentcode = b.agentcode
                 left join labranchgroup c on c.agentgroup = b.agentgroup
            ${ew.getCustomSqlSegment}
    </select>
</mapper>
