<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.notice.mapper.NoticeUserRoleMapper">

    <select id="selectUserIdsByRoleIds" resultType="java.lang.Long">
        SELECT DISTINCT user_id
        FROM sys_user_role
        WHERE role_id IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
        AND EXISTS (
        SELECT 1 FROM sys_user u
        WHERE u.user_id = sys_user_role.user_id
        AND u.status = '0'
        AND u.del_flag = '0'
        )
    </select>


    <!-- 根据权限标识列表查询用户ID -->
    <select id="selectUserIdsByPerms" resultType="java.lang.Long">
        SELECT DISTINCT ur.user_id
        FROM sys_user_role ur
        JOIN sys_role_menu rm ON ur.role_id = rm.role_id
        JOIN sys_menu m ON rm.menu_id = m.menu_id
        WHERE m.perms IN
        <foreach item="perm" collection="perms" open="(" separator="," close=")">
            #{perm}
        </foreach>
        AND EXISTS (
        SELECT 1 FROM sys_user u
        WHERE u.user_id = ur.user_id
        AND u.status = '0'
        AND u.del_flag = '0'
        )
    </select>

    <!-- 根据用户名查询用户ID -->
    <select id="selectUserIdByUsername" resultType="java.lang.Long">
        SELECT user_id
        FROM sys_user
        WHERE user_name = #{username}
          AND status = '0'
          AND del_flag = '0'
        LIMIT 1
    </select>

    <select id="selectUserIdsByDeptIds" resultType="java.lang.Long">
        SELECT DISTINCT user_id
        FROM sys_user
        WHERE dept_id IN
        <foreach collection="deptIds" item="deptId" open="(" separator="," close=")">
            #{deptId}
        </foreach>
        AND status = '0'
        AND del_flag = '0'
    </select>
</mapper>
