<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.notice.mapper.SysNotificationRuleMapper">

    <select id="selectActiveRules" resultType="com.sinosoft.notice.domain.SysNotificationRule">
        SELECT *
        FROM sys_notification_rule
        WHERE status = '0'
        ORDER BY rule_type, create_time
    </select>
    <select id="selectByEventType" resultType="com.sinosoft.notice.domain.SysNotificationRule">
        SELECT *
        FROM sys_notification_rule
        WHERE rule_type = 'event'
          AND status = '0'
          AND JSON_EXTRACT(trigger_condition, '$.eventType') = #{eventType}
    </select>

    <select id="selectTodoRulesByUserId" resultType="com.sinosoft.notice.domain.SysNotificationRule">
        SELECT r.*
        FROM sys_notification_rule r
        WHERE r.status = '0'
          AND r.todo_type = '1'
          AND EXISTS (SELECT 1
                      FROM sys_user_role ur
                               JOIN sys_role_menu rm ON ur.role_id = rm.role_id
                      WHERE ur.user_id = #{userId}
                        AND rm.menu_id = r.menu_id)
        ORDER BY r.template_id, r.create_time DESC
    </select>
</mapper>
