<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.notice.mapper.SysNotificationMapper">
    <update id="updateStatusBatch">
        UPDATE sys_notification
        SET status = #{status},
        update_time = NOW()
        WHERE notification_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="selectByBusinessKeyAndTime" resultType="com.sinosoft.notice.domain.SysNotification">
        SELECT *
        FROM sys_notification
        WHERE business_key = #{businessKey}
          AND create_time >= #{startTime}
        ORDER BY create_time DESC
    </select>

    <select id="selectByBusinessKeyAndUserIdAndTime" resultType="com.sinosoft.notice.domain.SysNotification">
        SELECT n.*
        FROM sys_notification n
                 JOIN sys_notification_user nu ON n.notification_id = nu.notification_id
        WHERE n.business_key = #{businessKey}
          AND nu.user_id = #{userId}
          AND n.create_time >= #{startTime}
        ORDER BY n.create_time DESC
    </select>

    <select id="selectExpired" resultType="com.sinosoft.notice.domain.SysNotification">
        SELECT *
        FROM sys_notification
        WHERE status = '0'
          AND expiration_date IS NOT NULL
          AND expiration_date &lt; #{now}
    </select>
    <select id="selectNormalNotificationsNotHighPriority"
            resultType="com.sinosoft.notice.domain.SysNotification">
        SELECT *
        FROM sys_notification
        WHERE status = '0'
          AND priority != 'high'
          AND expiration_date > NOW()
        ORDER BY create_time DESC
    </select>
    <select id="selectByCreateTimeRange" resultType="com.sinosoft.notice.domain.SysNotification">
        SELECT *
        FROM sys_notification
        WHERE create_time BETWEEN #{startTime} AND #{endTime}
        ORDER BY create_time DESC
    </select>
</mapper>
