<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.notice.mapper.SysNotificationMergeMapper">

    <select id="selectByParentId" resultType="com.sinosoft.notice.domain.SysNotificationMerge">
        SELECT *
        FROM sys_notification_merge
        WHERE parent_id = #{parentId}
        ORDER BY display_order ASC, merged_at ASC
    </select>
    <select id="selectByParentAndChildId" resultType="com.sinosoft.notice.domain.SysNotificationMerge">
        SELECT *
        FROM sys_notification_merge
        WHERE parent_id = #{parentId}
          AND child_id = #{childId}
        LIMIT 1
    </select>
    <select id="selectByChildId" resultType="com.sinosoft.notice.domain.SysNotificationMerge">
        SELECT *
        FROM sys_notification_merge
        WHERE child_id = #{childId}
        LIMIT 1
    </select>
</mapper>
