<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.notice.mapper.SysNotificationTemplateMapper">

    <select id="selectByCode" resultType="com.sinosoft.notice.domain.SysNotificationTemplate">
        SELECT *
        FROM sys_notification_template
        WHERE template_code = #{templateCode}
          AND status = '0'
        LIMIT 1
    </select>
</mapper>
