<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.bank.team.mapper.BkBranchMoveMapper">

    <sql id="selectBase">
        select a.id,
               a.oldmanagecom,
               (select shortname from ldcom where ldcom.comcode = a.oldmanagecom) as oldmanagecomname,
               a.newmanagecom,
               (select shortname from ldcom where ldcom.comcode = a.newmanagecom) as newmanagecomname,
               a.oldagentgroup,
               a.newagentgroup,
               a.oldbranchattr,
               a.newbranchattr,
               a.oldbranchname,
               a.newbranchname,
               a.manoeuvredate,
               a.effectdate,
               a.remark
        from labranchchange a
    </sql>

    <select id="selectPageList"
            resultType="com.sinosoft.bank.team.domain.vo.BkBranchMoveVo">
        <include refid="selectBase"/>
        ${ew.getCustomSqlSegment}
    </select>

    <select id="selectShowMoveBranchPageList" resultType="com.sinosoft.bank.team.domain.vo.BkShowMoveBranchVo">
        select branch.managecom,
               (select shortname from ldcom b where b.comcode = branch.managecom)      managecomname,
               branch.agentgroup,
               branch.branchattr,
               branch.name as                                                          branchname,
               branch.branchmanager,
               branch.branchmanagername,
               (select concat(gradecode, '-', gradename)
                from laagentgrade grade
                where grade.gradecode = (select agentgrade
                                         from latree tree
                                         where tree.agentcode = branch.branchmanager)) branchmanagergrade,
               (select count(*)
                from laagent agent
                where agent.agentgroup in (select agentgroup
                                           from labranchgroup c
                                           where c.branchtype = branch.branchtype
                                             and c.branchattr like concat(branch.branchattr, '%'))
                  and outworkdate is null)                                             agentCount
        from labranchgroup branch
            ${ew.getCustomSqlSegment}
    </select>

</mapper>
