<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.bank.team.mapper.BkBranchToAgentMapper">

    <select id="selectPageShowList"
            resultType="com.sinosoft.bank.team.domain.vo.BkBranchToAgentVo">
        select id,
               b.manage_com,
               (select short_name
                from ldcom ld
                where ld.comcode = b.manage_com)                                      manage_com_name,
               agent_code,
               (select name from la_agent agent where agent.agent_code = a.agent_code) agent_code_name,
               a.agent_group,
               b.branch_attr,
               b.name                                                                  branch_name,
               a.branch_type,
               a.start_date,
               a.end_date
        from la_branch_to_agent a
            ${ew.getCustomSqlSegment}
    </select>

</mapper>
