<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.bank.agent.mapper.BkAgentResignMapper">

    <sql id="selectBase">
        select a.id,
               a.agentcode,
               agent.managecom,
               (select shortname from ldcom where ldcom.comcode = agent.managecom) as managecomname,
               agent.name                                                          as agentcodename,
               agent.agentgroup,
               branch.branchattr,
               branch.name                                                         as branchname,
               a.departrsn,
               (select dict_label
                from sys_dict_data dict
                where dict.dict_type = 'bank_depart_rsn'
                  and dict.dict_value = a.departrsn)                               as departrsnname,
               a.departdate,
               a.applydate,
               a.noti,
               a.makedate,
               agent.employdate,
               tree.agentgrade,
               (select gradename
                from laagentgrade grade
                where grade.gradecode = tree.agentgrade)                           as agentgradename
        from ladimission a
                 left join laagent agent on a.agentcode = agent.agentcode
                 left join latree tree on a.agentcode = tree.agentcode
                 left join labranchgroup branch on agent.agentgroup = branch.agentgroup
    </sql>

    <select id="selectPageList"
            resultType="com.sinosoft.bank.agent.domain.vo.BkAgentResignVo">
        <include refid="selectBase"/>
        ${ew.getCustomSqlSegment}
    </select>

    <select id="selectFormById"
            resultType="com.sinosoft.bank.agent.domain.bo.BkAgentResignForm">
        <include refid="selectBase"/>
        where a.id = #{id}
    </select>

</mapper>
