<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.bank.agent.mapper.BkAgentGradeAdjustMapper">

    <sql id="selectBase">
        select a.id,
               a.agentcode,
               agent.managecom,
               (select shortname from ldcom where ldcom.comcode = agent.managecom) as managecomname,
               agent.name                                                          as agentcodename,
               prebranch.branchattr                                                as prebranchattr,
               prebranch.name                                                      as prebranchname,
               curbranch.branchattr                                                as curbranchattr,
               curbranch.name                                                      as curbranchname,
               agent.employdate,
               a.adjustdate,
               a.effectdate,
               a.reason,
               a.oldgrade,
               pregrade.gradename                                                  as preagentgradename,
               pregrade.gradeproperty2                                             as preagentseries,
               a.newgrade,
               curgrade.gradename                                                  as curagentgradename,
               curgrade.gradeproperty2                                             as curagentseries
        from larankadjust a
                 left join laagent agent on a.agentcode = agent.agentcode
                 left join labranchgroup prebranch on prebranch.agentgroup = a.oldagentgroup
                 left join labranchgroup curbranch on curbranch.agentgroup = a.newagentgroup
                 left join laagentgrade pregrade on pregrade.gradecode = a.oldgrade
                 left join laagentgrade curgrade on curgrade.gradecode = a.newgrade
    </sql>

    <select id="selectPageList"
            resultType="com.sinosoft.bank.agent.domain.vo.BkAgentGradeAdjustVo">
        <include refid="selectBase"/>
        ${ew.getCustomSqlSegment}
    </select>

    <select id="selectFormById"
            resultType="com.sinosoft.bank.agent.domain.bo.BkAgentGradeAdjustForm">
        <include refid="selectBase"/>
        where a.id = #{id}
    </select>

</mapper>
