<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.bank.agent.mapper.BkLaAgentMapper">

    <select id="isOnWork" resultType="int">
        select count(1) from laagent
        <where>
            id_no =#{idNo} and agent_state in ('01','02') and branch_type ='2';
        </where>
    </select>

    <select id="selectAgentList" resultType="com.sinosoft.bank.agent.domain.vo.BkAgentListVo">
        select agent.managecom,
               (select name from ldcom where comcode = agent.managecom)             as managecomname,
               agent.agentgroup,
               (select branchattr
                from labranchgroup
                where agentgroup = agent.agentgroup)                                as branchattr,
               (select name from labranchgroup where agentgroup = agent.agentgroup) as branchname,
               agent.agentcode,
               NAME,
               (select dict_label
                from sys_dict_data
                where dict_type = 'grp_agent_sex'
                  and dict_value = agent.sex)                                       as sex,
               (select dict_label
                from sys_dict_data
                where dict_type = 'grp_agent_idtype'
                  and dict_value = agent.idnotype)                                  as idtype,
               agent.idno,
               (SELECT gradename
                FROM laagentgrade b
                WHERE b.gradecode = tree.agentgrade)                                as agentgrade,
               agent.employdate,
               (select dict_label
                from sys_dict_data
                where dict_type = 'sys_agent_state'
                  and dict_value = agent.agentstate)                                as agentstate,
               agent.outworkdate,
               (select dict_label
                from sys_dict_data
                where dict_type = 'sys_person_type'
                  and dict_value = agent.agentkind)                                 as agentkind
        FROM laagent agent
                 left join latree tree on tree.agentcode = agent.agentcode
            ${ew.getCustomSqlSegment}
    </select>

    <select id="selectAgentBaseInfo"
            resultType="com.sinosoft.bank.agent.domain.vo.BkAgentBaseInfo">
        select agent.agentcode,
               agent.managecom,
               (select shortname from ldcom where ldcom.comcode = agent.managecom) as managecomname,
               agent.name,
               agent.agentgroup,
               branch.branchattr,
               branch.name                                                              as branchName,
               agent.employdate,
               tree.agentgrade,
               (select gradename
                from laagentgrade grade
                where grade.gradecode = tree.agentgrade)                          as agentgradename,
                agent.agentstate
        from laagent                      agent
                 left join latree         tree on agent.agentcode = tree.agentcode
                 left join labranchgroup branch on agent.agentgroup = branch.agentgroup
        where agent.agentcode = #{agentCode} and agent.branchtype = '3'
    </select>
</mapper>
