<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.bank.agent.mapper.BkLaAgentTempMapper">

    <select id="selectApplyList" resultType="com.sinosoft.bank.agent.domain.vo.BkAgentApplyListVo">
        select agent.managecom,
               (select name from ldcom where comcode = agent.managecom)                                         as managecomname,
               agent.agentgroup,
               (select branchattr
                from labranchgroup
                where agentgroup = agent.agentgroup)                                                             as branchattr,
               (select name from labranchgroup where agentgroup = agent.agentgroup)                            as branchname,
               agent.agentcode,
               NAME,
               (select dict_label from sys_dict_data where dict_type = 'sys_user_sex' and dict_value = agent.sex) as sex,
               (select dict_label
                from sys_dict_data
                where dict_type = 'bank_agent_idtype'
                  and dict_value = agent.idnotype)                                                               as idtype,
               agent.idno,
               (SELECT gradename
                FROM laagentgrade b
                WHERE b.gradecode = tree.agentgrade)                                                         as agentgrade,
               agent.employdate,
               agent.channelname,
               agent.devno2 as lcid,
               (select name from lc_define where id=agent.devno2) as lcname,
               agent.remark
        FROM laagenttemp agent
                 left join latreetemp tree on tree.agentcode = agent.agentcode
            ${ew.getCustomSqlSegment}
    </select>

    <select id="selectApplyExport" resultType="com.sinosoft.bank.agent.domain.vo.BkAgentApplyListVo">
        SELECT managecom,
               (select name from ldcom lc where lc.comcode = a.managecom)                                   managecomname,
               (select name
                from labranchgroup lbg
                where lbg.agentgroup = a.agentgroup)                                                         agentgroup,
               agentcode,
               NAME,
               (select dict_label from sys_dict_data where dict_type = 'grp_agent_sex' and dict_value = a.sex) sex,
               (select dict_label
                from sys_dict_data
                where dict_type = 'grp_agent_idtype'
                  and dict_value = a.idnotype)                                                               idType,
               a.idno,
               (select gradename
                from laagentgrade lag2
                where gradecode = (SELECT agentgrade
                                    FROM latreetemp b
                                    WHERE b.agentcode = a.agentcode))                                        agentgrade,
               a.employdate,
               a.channelname
        FROM laagenttemp a
            ${ew.getCustomSqlSegment}
    </select>

    <select id="selectQualifyCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM la_train_result a
                 LEFT JOIN la_qualify_code b
                           ON a.index_code = b.qualify_code
            ${ew.getCustomSqlSegment}
    </select>

</mapper>
